In [1]:
import os
import shutil

import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text
from official.nlp import optimization  # to create AdamW optimizer

import matplotlib.pyplot as plt

C:\Users\jobin\AppData\Local\Programs\Python\Python39\lib\site-packages\tensorflow_addons\utils\ensure_tf_install.py:53: UserWarning: Tensorflow Addons supports using Python ops for all Tensorflow versions above or equal to 2.3.0 and strictly below 2.6.0 (nightly versions are not supported).
 The versions of TensorFlow you are currently using is 2.7.0 and is not supported.
Some things might work, some things might not.
If you were to encounter a bug, do not file an issue.
If you want to make sure you're using a tested and supported configuration, either change the TensorFlow version or the TensorFlow Addons's version.
You can find the compatibility matrix in TensorFlow Addon's readme:
https://github.com/tensorflow/addons
  warnings.warn(

In [2]:
import pandas as pd
import numpy as np

In [6]:
twit_pd = pd.read_csv("training.1600000.processed.noemoticon.csv", names=["polarity", "id", "date", "query",  " user", "tweet"])

In [7]:
twit_pd.head()

,polarity,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [8]:
modified_pd = twit_pd.drop(["id", "date", "query",  " user"], axis=1)

In [9]:
modified_pd.head()

   polarity                                              tweet
0         0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1         0  is upset that he can't update his Facebook by ...
2         0  @Kenichan I dived many times for the ball. Man...
3         0    my whole body feels itchy and like its on fire
4         0  @nationwideclass no, it's not behaving at all....

In [10]:
import re

In [34]:
tag_remover = re.compile(r'@\w*\s|http\S*\s')

In [35]:
mod = tag_remover.sub("", modified_pd.iloc[0]['tweet'])

In [36]:
mod

"- Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [37]:
modified_pd['tweet'] = modified_pd['tweet'].apply(lambda x: tag_remover.sub("", x))

In [38]:
modified_pd.head()

   polarity                                              tweet
0         0  - Awww, that's a bummer.  You shoulda got Davi...
1         0  is upset that he can't update his Facebook by ...
2         0  I dived many times for the ball. Managed to sa...
3         0    my whole body feels itchy and like its on fire
4         0  no, it's not behaving at all. i'm mad. why am ...